
p, h2, h3 {
    text-align: center;
}
body {
    background-color: rgb(255, 222, 146);
<<<<<<< HEAD
    margin: 0;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
.header a.logo {
font-size: 25px;
font-weight: bold;
}
/* "a" = this selects all the <a> tags inside all the elements with the .header class */
.header a {
    float: left;
    text-align: center;
    color: black;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}
.header a:hover {
background-color: #ddd;
color: black;
}
.header a.home {
    color: black;
    background-color: lightblue;

}
.left {
float: left;
}
.right {
    float: right;
}
=======
}
>>>>>>> 6494c438974d91d767e6c5c280f8ac571d7130b7
