@charset "UTF-8";

/* google fonts */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/*all */

*{
    /* LIVE BACKROUND */ 
    margin: 0px;
    padding: 0px;
}


/* LIVE BACKROUND */ 

.area {
    
/* cubes color */

background: -webkit-linear-gradient(to left, #8f94fb);
width: 100%;
/* height:100vh; */
}

.circles {
position: absolute;
top: 0px;
left:0;
overflow: hidden;
height: 100%;
width:100%;
}

.circles li {
position: absolute;
display: block;

/* stop */
list-style: none;

}


/* tags */
p, h2, h3 {
    text-align: center;
}

body {
    font-family: 'exo', sans-serif;
    background: #4e54c8;
}

/* top header */
.header {
    overflow: hidden;
    background-color: #45444493;
    padding: 10px 10px;
   
}
.stick {
    position: fixed;
    height: 50px;
    width: 100%;
    top:0px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
}

/* "a" = this selects all the <a> tags inside all the elements with the .header class */
.header a {
    float: left;
    text-align: center;
    color: black;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
background-color: #ddd;
color: black;
}

.header a.home {
    color: black;
    background-color: lightblue;
    font-size: 20px;
}

.header a.form {
    font-size: 20px;
}

/*

??????????

.left {
float: left;
}

*/

/* home button rigth */

.right {
    float: right;
    padding-right: 10px;
}

/* practice backround color */

.top1 {
background-color: lightblue;

}

main {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 69px;
}

footer {
    text-align: center;
}

#buttons {
    padding-left: 10px;
}